body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  background-image: url(https://qph.cf2.quoracdn.net/main-qimg-28c4445d4ff550ea99823dae8d78eb1b);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  margin: 0 auto;
}
.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
  width: 630px;
}
.project_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
/* about styles */
.about {
margin-bottom: 40px;
}
.about-position {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 20px;
}
.about-name {
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: #000000;
margin-bottom: 25px;
}
.about-description {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
width: 400px;
}

/* project styles */
.projects {
margin-bottom: 50px;
}
.title {
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}
.projects-list {
padding: 0;
margin-left: 15px;
}
.projects-item {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #000000;
}
.project, .project-link {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
.project-link {
margin-left: 10px;
}
.project-bracket {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #000000;
}
/* work styles */
.work {
  margin-bottom: 50px;
}
.work-position {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;  
margin-bottom: 10px;
}
.organization {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;  
}
.period{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;  
margin-bottom: 10px;
}
.line {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #000000;
}
.work-list {
padding: 0;  
margin-left: 15px;
}
.work-list-item {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;  
}
/* education styles */
.education {
  margin-bottom: 50px;
}
.education-place {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
margin-bottom: 12px;
margin-top: 15px;
}
.faculty {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-top: 15px;
margin-bottom: 12px;
}
/* courses styles */
.courses {
margin-bottom: 50px;
}
.courses-list {
  padding: 0;
  margin-left: 15px;
}
.courses-list-item {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;   
}
/* sidebar styles */
.image {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar {
  background-color: #bc8f8f;
  padding-top: 40px;
  width: 370px;
}
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts, .tech-skills, .soft-skills {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 50px;
  
}
.tech-skills {
  margin-bottom: 47px;
}
.contact-type {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-right: 10px;
}
.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #565e6a;
}
.tech-skills-list {
color: #FFFFFF;
padding: 0;
margin-left: 17px;
}
.tech-skills-item {
color: #FB6D3A;
}
.tech-skills-text {
  color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.soft-skills-list {
padding: 0;
margin-left: 17px;
}
.soft-skills-item {
color: #FB6D3A;
}
.soft-skills-text {
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
/*footer style*/
.footer {
background-image: url(https://i.pinimg.com/originals/71/e7/48/71e748cc6fedc700240795d96c564652.gif);
height: 120px;
width: 500px;
background-position: center;
}
.button-instagram {
  margin-left: 10px;
}
.button-linkedin {
margin-left: 8px;
margin-top: 10px;
}
.button-github {
  margin-left: 8px;
}
.music {
  margin-top: 280px;
  margin-left: 35px;
}